.carstyle{
    background-color: rgba(255, 0, 0, 0.567);
}

.text-style{
    font-family: 'Comic Sans MS', cursive; 
}

@media (min-width: 320px) {
    .heading{
        font-size: 20px;
    }
    .car-text{
        font-size: 22px;
    }
    .content{
        font-size: 10px;
    }
    .discover-btn{

    }
}
@media (min-width: 375px) {
    .heading{
        font-size: 20px;
    }
    .car-text{
        font-size: 24px;
    }
    .content{
        font-size: 11px;
    }
    .discover-btn{

    }
}
@media (min-width: 425px) {
    .heading{
        font-size: 20px;
       
    }
    .car-text{
        font-size: 22px;
        margin-top: -3px;
    }
    .content{
        font-size: 12px;
       
    }
    .discover-btn{

    }
}
@media (min-width: 768px) {
    .heading{
        font-size: 20px;
       
    }
    .car-text{
        font-size: 25px;
        margin-top: -3px;
    }
    .content{
        font-size: 11px;
       
    }
    .discover-btn{

    }
}
@media (min-width: 1024px) {
    .heading{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .car-text{
        font-size: 38px;
    }
    .content{
        font-size: 16px;
    }
    .discover-btn{
        padding-top: 10px;
    }
}