.custom-height {
    height: 87vh; 
    object-fit: cover; 
 
}
.next{
    height:50px;
    width:100px;
    font-size:20px;
    border-radius: 10px;
}
.leader p{
    font-size:20px;
    font-weight:bold;

}
.leader{
    margin-bottom: 125px;

}
.navbar.bg-transparent {
    
    position: absolute;
    width: 100%;
  }
  